@import url('./root.css');
* {
   padding: 0;
   margin: 0%;
   box-sizing: border-box;
}

:root {
   --text--size: 18px;
   --font--size--title: 5vw;
   --line--height--title: 5vw;
   --font--size--subtitle: 3vw;
   --line--height--subtitle: 3vw;
   --font--size--p: 1.75vw;
   --line--height--p: 2.25vw;
   --top--parallax: 15vh;
   --height--parallax: 95vh;
   --font--size--p--parallax: 2vw;
   --line--height--p--parallax: 3vw;
   /* #region COLORS */

   --color--primary: #99D9D9;
   --color--light: #F2F0E9;
   --color--dark: #231F20;
   --color--bg--dark: #001628;
   --color--dark--transparent: #001628ea;
   --color--bg--blue: #39909d;
   --color--bg--brown: #6E6C4F;
   --color--scroll: #68a2b9;
   --color--bg--scroll: #343A40;
   /* #endregion COLORS */
   font-family: 'Roboto', sans-serif;

   font-size: var(--text--size);
   line-height: 1.5rem;
   color: var(--color--dark);
   --porcent--change--color: 5%;
}
@media screen and (min-width: 1440px) {
   :root { --porcent--change--color: 90%;}
}
@media screen and (max-width: 1440px) {
   :root { --porcent--change--color: 90%;}
}

@media screen and (max-width: 1024px ) {
   :root { 
      --font--size--title: 6vw; 
      --line--height--title: 8vw;
      --font--size--subtitle: 4vw; 
      --line--height--subtitle: 4vw;
      --font--size--p: 2vw; 
      --line--height--p: 3vw; 
   }
}

@media screen and (max-width: 940px) {
   :root { --porcent--change--color: 95%;}
}

@media screen and (max-width: 768px ) {
   :root { 
      --top--parallax: 10vh; 
      --height--parallax: 100vh;
      --font--size--title: 7vw; 
      --line--height--title: 7vw;
      --font--size--subtitle: 5vw; 
      --line--height--subtitle: 5vw;
      --font--size--p: 2.5vw;
      --font--size--p--parallax: 4vw; 
      --line--height--p--parallax: 5vw;
   }
}

@media screen and (max-width: 620px) {
   :root { --porcent--change--color: 98%;}
}

@media screen and (max-width: 500px ) {
   :root { 
      --font--size--p: 4vw; 
      --line--height--p: 5vw; 
   }
}

@media screen and (max-width: 376px ) {
   :root { 
      --font--size--p--parallax: 5vw; 
      --line--height--p--parallax: 6vw; 
      --font--size--title: 10vw; 
      --line--height--title: 10vw;
      --font--size--subtitle: 6vw; 
      --line--height--subtitle: 6vw;
      --font--size--p: 3.5vw; 
      --line--height--p: 4.5vw;
      --top--parallax: 10vh; 
      --height--parallax: 90vh;
      --font--size--p--parallax: 5vw; 
      --line--height--p--parallax: 6vw;
   }
}

@media screen and (max-width: 320px) {
   :root { --porcent--change--color: 98%;}
}


/* --------------------------------SCROLLBAR------------------------------------------ */
/* Works on Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: var(--color--scroll) var(--color--bg--scroll);
 }

 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
   width: 10px;
 }

 *::-webkit-scrollbar-track {
   background: var(--color--bg--scroll);
 }

 *::-webkit-scrollbar-thumb {
   background-color: var(--color--scroll);
   border-radius: 15px;
 }
/* --------------------------------SCROLLBAR------------------------------------------ */

.scroll-y-none {
   overflow-y: hidden;
}


a {
   text-decoration: none;
   color: inherit;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a:hover {
   opacity: .5;
}


/* #region BACKGROUNDS */
.bg-dark {
   background-color: var(--color--bg--dark);
   color: var(--color--primary);
}
.bg-blue {
   background-color: var(--color--bg--blue);
   color: var(--color--bg--dark);
}
.bg-blue-brown {
   background: rgb(110,108,79);
   background: linear-gradient(0deg,
   rgba(110,108,79,1) 0%,
   rgba(110,108,79,1) var(--porcent--change--color),
   #39909d var(--porcent--change--color),
   #39909d 100%);
}

/* #endregion BACKGROUNDS */


/* #region IMAGES */

.img-container-25 {
   margin: 2.5rem;
   height: 25rem;
   width: 25rem;
}
@media screen and (max-width: 800px ) {
   .img-container-25 {
      margin: 1.5rem;
      height: 15rem;
      width: 15rem;
   }
}

.img-container-35 {
   margin: 2.5rem;
   height: 35rem;
   width: 35rem;
}

@media screen and (max-width: 580px ) {
   .img-container-35 {
      margin: .5rem;
      height: 20rem;
      width: 20rem;
   }
}
@media screen and (max-width: 375px ) {
   .img-container-35 {
      margin: .5rem;
      height: 15rem;
      width: 15rem;
   }
}
img {
   object-fit: cover;
   border-radius: 10px;
}
.img-responsive {
   height: 100%;
   width: 100%;
}

.img-sm {width: 5rem;}
.img-hero {width: 17rem;}
.img-3 {width: 15%;}
.img-5 {width: 25%;}
.img-75 {width: 75%;}
.img-100 {width: 100%;}
.border-circle {
   border-radius: 100%;
   overflow: hidden;
}
.border { border: 2px solid; }
.border-md { border: 5px solid; }
.border-xl { border: 10px solid; }
/* #endregion IMAGES */

.video-container {
   margin: 2.5rem;
   height: 100%;
   width: 80%;
}
video {
   object-fit: cover;
   border-radius: 10px;
}

img,
video,
object,
embed {
    max-width: 100%;
    height: auto;
}

/* #region BLABLABLA */
/* #endregion BLABLABLA */

section {
   padding: 5%;
   scroll-snap-type: y mandatory;
   scroll-snap-align: start;
}

.section {
   height: 100vh;
   padding: 5%;
}

hr.separator {
   background-color: var(--color--light);
   border: none;
   height: 8rem;
   width: 2px;
   position: relative;
   z-index: 1;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
}


.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}
.container-grid-rows {
   display: grid;
   grid-template-rows: repeat(auto-fit, minmax(1fr));
   grid-gap: 1rem;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: 1rem 0;
   justify-items: center;
}

.grid-follow img {
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.grid-follow img:hover {
   transform: scale(1.05);
}


#grid_partners img {
   height: 75%;
   width: 75%;
}

.title {
   font-size: var(--font--size--title);
   line-height: var(--line--height--title);
   font-weight: bolder;
   margin-block: 1rem;
}

.subtitle {
   /* font-size: 1.5rem; */
   font-size: var(--font--size--subtitle);
   line-height: var(--line--height--subtitle);
   font-weight: normal;
   margin-block: 0.5rem;
}

/* #region TEXTS */
.text-light {color: var(--color--light);}
.hero {
   font-family: 'Bebas Neue', cursive;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-weight: bolder;
}
/* #endregion TEXTS */



/* #region CONTAINERS */
.container-full {
   width: 100%;
   /* padding: 1em; */
}

/* #endregion CONTAINERS */



/* #region HEIGHT */
.h-100 {
   height: 100vh;
   justify-self: center;
}
/* #endregion HEIGHT */

p {
   font-size: var(--font--size--p);
   line-height: var(--line--height--p);
   padding-top: 1rem;
   padding-bottom: 2rem;
   width: 50%;
}

/* #region PADDINGS & MARGINS */
.p-0 {padding: 0;}
.p-1 {padding: 1rem;}

.px-auto {padding: 0 auto;}

.py-1 {padding-top: 1rem; padding-bottom: 1rem;}

.mx-auto {margin: 0 auto ;}
.mr-1 {margin-right: 1rem;}

.mt-2 {margin-top: 2rem;}

/* #endregion PADDINGS & MARGINS */



/* #region POSITIONS */
.p-relative { position: relative; }
/* #endregion POSITIONS */



/* #region DISPLAYS */
.d-flex { display: flex; flex-direction: column;}
.d-none { display: none;}
/* #endregion DISPLAYS */

/* #region JUSTIFY & ALIGN */
.justify-content-center { justify-content: center; }
.justify-items-center { justify-items: center; }
.align-items-center { align-items: center; }

.text-center { text-align: center;}
/* #endregion JUSTIFY & ALIGN */

#logo_intro {
   animation: logo 3s ease-in-out forwards;
}
@keyframes logo {
   0% { opacity: 0; transform: scale(0);}
   15% { opacity: .30; transform: scale(1);}
   30% { opacity: .25; transform: scale(.9);}
   45% { opacity: .60; transform: scale(1);}
   60% { opacity: .55; transform: scale(.9);}
   75% { opacity: .90; transform: scale(1);}
   90% { opacity: .90; transform: scale(1);}
   100% { opacity: 0; display: none;}
}
#intro_logo {
   animation: fade_out_intro_logo 3s ease-out;
}
@keyframes fade_out_intro_logo {
   0% { opacity: 1; }
   90% { opacity: 1; }
   100% { opacity: 0; display: none;}
}

#hero {
   width: 100vw;
   height: 100vh;
   opacity: 0;
   transition: opacity 2s ease-in-out;
}
#hero.fade_in {opacity: 1;}


#img_hero_2 {width: 20rem;}

#hero > img {
   margin: auto;
   margin-block: 0;
   transform: translate(5%, 0%);
}
.img_left_right {
   animation: left_right 2.5s cubic-bezier(0.77,-0.16, 0.5, 1.25) forwards;
}
@keyframes left_right {
   from { transform: translateX(-65vw) rotate(0deg); }
   to { transform: translate(0rem) rotate(360deg); }
}
.img_right_left {
   animation: right_left 2.5s cubic-bezier(0.77,-0.16, 0.5, 1.25) forwards;
}
@keyframes right_left {
   from { transform: translateX(65vw) rotate(0deg); }
   to { transform: translate(0rem) rotate(-360deg); }
}
#span_icon {
   position: fixed;
   top: 25px;
   opacity: .6;
   transition: all 0.6s ease-in-out;
   z-index: 999;
   background-color: transparent;
}
#span_icon:hover {
   opacity: 1;
   cursor: pointer;
}
#span_icon img {
   transform:  translate(50%, 0);
   border-radius: 0;
   object-fit: contain;
   width: 75px;
}

.box{
   border-radius: 5px;
   height: 40px !important;
   width: 40px !important;
   padding: 7px;
   margin: 0 0.5em;
   transition: all 0.3s ease-in-out;
   text-align: center;
}
.box:hover {
   filter: opacity(.8);
   transform: scale(1.05);
   cursor: pointer;
}
.box_facebook{
   padding-inline: 12px;
   background-color: #1877F2; /*#3b5998;*/
}

.box_instagram{
   background-color: #262626;
}



#section_into_soil {
   height: 200vh;
   background-image: url("../assets/arrow-head.webp");
   background-position: top;
   background-repeat: no-repeat;
   background-size: contain;
   font-family: 'Bebas Neue', cursive;
   font-size: 7vw;
   line-height: 8vw;
}

@media screen and (max-width: 425px) {
   #section_into_soil { height: 115vh; }
}
@media screen and (max-width: 375px) {
   #section_into_soil { height: 80vh; }
}

#section_into_soil div{
   justify-self: center;
   height: 100%;
   justify-content: space-between;
}
.arrows {
   margin-top: 8%;
   height: 100%;
   width: 50vw;
   background-image: url("../assets/arrow-blue.png");
   background-position: bottom;
   background-repeat: repeat-y;
   background-size: 30%;
}
@media screen and (max-width: 855px) {
   .arrows {
      margin-top: 7.5%;
   }
}
@media screen and (max-width: 415px) {
   .arrows {
      margin-top: 14.5%;
   }
}
.bg-arrow {
   height: 1.25em;
   width: 100vw;
   background-image: url("../assets/bg-arrow.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 30%;
}



/* #region EFECTO PARALLAX */
.section_parallax {
   overflow: visible !important;
}
.bg_parallax {
   background: fixed no-repeat 50% 50%;
   background-size: cover;
}

.element_parallax {
   position: sticky;
   top: 0;
   background-color: var(--color--bg--blue);
   height: var(--height--parallax);
   justify-content: center
}



.section_parallax p{
   font-size: var(--font--size--p--parallax);
   line-height: var(--line--height--p--parallax);
   width: 80%;
}

@media screen and (max-width: 1440px) {
   .arrows {
      margin-top: 3.5%;
   }
}

@media screen and (max-width: 1024px ) {
   p { width: 75%;}
   #span_icon img {width: 50px;}
   #section_into_soil { height: 165vh; }
   .arrows {
      margin-top: 4%;
   }
}

@media screen and (max-width: 768px ) {
   p { width: 80%;}
   .img-100 {
      width: 90%;
   }
   .img-container-35 {
      margin: 1.5rem;
      height: 30rem;
      width: 30rem;
   }
   .img-hero {width: 12rem;}
   .img-5 {
      width: 50%;
   }
   .video-container {
      width: 100%;
   }
   #grid_partners img {
      height: 50%;
      width: 50%;
   }

   #img_hero_2 {width: 15rem;}
   #span_icon img {width: 45px;}
   #section_into_soil { height: 125vh; }
   .arrows {margin-top: 12.3%;}
   .bg_parallax {
      background: fixed no-repeat 50% 50%;
      background-size: cover;
   }
}

@media screen and (max-width: 376px ) {
   .img-container-15 {
      margin: .5rem;
      height: 10rem;
      width: 10rem;
   }
   .img-container-25 {
      margin: .5rem;
      height: 12rem;
      width: 12rem;
   }
   p { width: 100%; }
}

@media screen and (max-width: 320px) {
   #section_into_soil { height: 70vh; }
}

/* #endregion EFECTO PARALLAX */

footer {
   align-items: flex-end;
}
footer span {
   right: 10px;
}
